version: '3.8'

services:
  app:
    build: markathas-nextjs-com
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev